// Colors
$white:            #FFFFFF;
$red:              #DF1F26;
$green:            #46A657;
$dark-green:       #3D914C;
$blue:             #3178C6;
$orange:           #F7931E;
$dark-orange:      #D18415;
$dark-dark-orange: #CC6f31;
$yellow:           #FFF8E6;
$gold:             #FFE082;
$dark-dark-grey:   #333333;
$dark-grey:        #666666;
$grey:             #999999;
$light-grey:       #DADADA;
$light-light-grey: #F1F1F1;
$winc-border-grey: #C1C1C1;
$disabled-grey:    #EBEBEB;

// Primary Theme
$primary:          $blue;
$primary-accent:   $white;
$success:          $green;
$success-accent:   $white;
$danger:           $red;
$danger-accent:    $white;
$default:          $light-grey;
$default-accent:   $dark-dark-grey;